

.jumbotron-hero {
    /* Choisis la hauteur ici */
    height: 500px;
  
   
    background-image: url("surf.jpg");
  
    /* Centre l'image et la met bien sur tous les écrans */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }